.message-list{
    flex: 1 1 auto;
    border: 1px solid #799eac;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: auto;
    background: #b3e8fc;
}

.messages-divider{
    font-size: 14px;
    position: sticky;
    z-index:100;
    top:0px;
    padding: 15px 0;
    background: #b3e8fc;
}

.messages-divider-line{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    background-color: #5fcaf1;
}

.messages-divider-date{
    position: absolute;
    background-color: #ebf2f5;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 5px;
    border-radius: 3px;
}