.message {
  font-size: 14px;
  margin: 0 0 10px 10px;
  position: relative;
}

.message::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  transform: skewX(-30deg);
  background-color: #fff;
}

.message-container {
  position: relative;
  z-index: 2;
  display: inline-grid;
  grid-template-columns: auto 1fr auto;
  padding: 5px 10px 3px;
  border-radius: 7px;
  max-width: 60%;
  text-align: left;
  background: #ffffff;
}

.message-info {
  display: flex;
  flex-direction: column;
}

.message-user-name {
  font-size: 12px;
  font-weight: 700;
  padding-left: 2px;
  grid-column: 1/4;
  margin-bottom: 3px;
}

.message-user-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.message-details {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 12px;
  color: #555;
}

.message-details span {
  margin-right: 2px;
}

.message-text {
  margin-bottom: 5px;
}

.message-like,
.message-liked {
  align-self: start;
  margin-left: 10px;
}

.message-icon {
  height: 12px;
  opacity: 0.7;
}

.message-icon:hover {
  opacity: 1;
}
